<!DOCTYPE html>
<html lang="en">
	<head>
		{{ partial "head.html" . }}

		<!-- Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-6LT5FWSWB7"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());
			gtag("config", "G-6LT5FWSWB7");
		</script>
	</head>

	{{ partial "header.html" . }}

	<body class="text-zinc-900">
		<main>{{ block "main" . }}{{ end }}</main>

		<footer class="bg-zinc-50 py-5">
			<div class="max-w-7xl mx-auto px-6 text-center text-gray-400 text-sm">
				<p>&copy; {{ .Site.Title }} {{ .Site.Params.year }}</p>
			</div>
		</footer>
	</body>
</html>

<!-- https://themepush.com/demo-mediumish/how-to-maximize-flexibility/ -->
