{{ define "main" }}

<div class="">
	<article class="rounded-xl p-8 max-w-4xl mx-auto px-6 sm:px-8 md:px-1 py-12">
		<!-- Title Section -->
		<h1 class="text-2xl sm:text-5xl md:text-5xl font-extrabold text-zinc-900 !leading-[1.25] mb-6">
			{{ .Title }}
		</h1>
		<p class="text-zinc-500 text-md mt-4 mb-6">
			{{ .Date.Format "January 2, 2006" }} · {{ .Params.readTime }} read
		</p>

		<!-- Cover Image Section -->
		{{ if .Params.cover }}
		<div class="mt-8">
			<img src="{{ .Params.cover | relURL }}" alt="{{ .Title }}"
				class="w-full aspect-[16/9] object-cover rounded-sm shadow-md" />
		</div>
		{{ end }}

		<!-- Content Section -->
		<div class="mt-8 prose prose-lg text-gray-600 leading-[1.75] font-['Merriweather'] text-lg md:px-4">
			{{ .Content }}
		</div>


		<!-- Footer Section of Article -->
		<div class="mt-12">
			{{ range .Params.tags }}
			<a href="{{ "{{ .Site.BaseURL }}/tags/" | relURL }}{{ . | urlize }}"
				class="px-2 ml-2 py-2 text-base text-zinc-500 bg-zinc-100 rounded-sm hover:bg-zinc-200">
				{{ . }}
			</a>
			{{ end }}
		</div>
	</article>

	<div class="bg-zinc-100 px-48 py-12">
		<!-- Flex container to hold the grid of posts -->
		<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
			{{ $current := .RelPermalink }} <!-- Store the current post's link -->
			{{ $taggedPosts := where .Site.RegularPages "Params.tags" "intersect" .Params.tags }}
			<!-- Filter by matching tags -->
			{{ range first 3 (shuffle (where $taggedPosts "RelPermalink" "!=" $current)) }}
			<!-- Exclude current post -->
			<div class="card post bg-white shadow-md rounded-sm overflow-hidden">
				<a href="{{ .RelPermalink }}">
					<img src="{{ .Params.cover }}" alt="{{ .Title }}" class="w-full h-52 object-cover">
				</a>
				<div class="card-block flex flex-col p-4">
					<h2 class="text-xl font-semibold text-zinc-800 hover:text-emerald-600">
						<a href="{{ .RelPermalink }}">
							{{ .Title | truncate 60 "..." }}
						</a>
					</h2>
					<div class="metafooter mt-auto pt-4 text-sm text-zinc-500 flex items-center justify-right gap-2">
						<span class="post-date">{{ .Date.Format "January 2, 2006" }}</span>
						<span class="dot text-zinc-400">•</span>
						<span class="readingtime">{{ .Params.readTime }} read</span>
					</div>
				</div>
			</div>
			{{ end }}
		</div>
	</div>
</div>
{{ end }}